* {
  transition: .1s;
}


@font-face {
  font-family: Lato;
  font-weight: normal;
  src: url(/font/Lato-Regular.ttf);
}

@font-face {
  font-family: Lato;
  font-weight: bold;
  src: url(/font/Lato-Bold.ttf);
}

.section-first {
  text-align: center;
  color: #848789;
  font-size: 17px;
  background-color: #f7f7f7;
  padding: 100px 0 140px 0;
  z-index: 2;
}

.title {
  color: #353738;
  text-transform: uppercase;
  font-size: 18px;
  padding-bottom: 5px;
  padding-top: 5px;
  font-family: Lato;
  font-weight: bold;
}

.text {
  margin: 0 10%;
  font-family: Lato;
  font-weight: normal;
}

.section-second,
.section-third {
  position: relative;
  padding: 0 !important;
  background: #fff;
  z-index: 2;
}

.text-second {
  padding: 0 !important;
}

.padding-none {
  padding: 0 !important;
}

.overflow {
  overflow: hidden;
}

.font-normal {
  font-family: Lato;
  font-weight: normal;
}

.font-bold {
  font-family: Lato;
  font-weight: bold;
}

.text-second-lower {
  display: table-cell;
  font-size: 1em;
  line-height: 2em;
  text-align: justify;
}

.settings-title-second {
  text-align: center;
  padding-top: 80px;
}

.padding-text {
  padding-left: 60px;
  padding-right: 60px;
  text-align: justify;
  color: #848789;
}

.photo-first {
  padding: 0 !important;
  margin: 0;
  height: 100%;
}

.photo-second {
  height: 100%;
}

.box {
  border: 10px solid transparent;
  width: 0;
  height: 0;
  border-top-color: #fff;
  margin-left: 50%;
  position: absolute;
}

.line {
  margin-top: 40px;
  margin-bottom: 50px;
  margin-left: 47%;
  margin-right: 43%;
  border-bottom: 1px solid #d7d7d7;
}


// third

.section-third {
  background: #fff;
  z-index: 2;
}


.text-third-lower {
  display: table-cell;
  font-size: 1em;
  line-height: 2em;
  text-align: justify;
}

.text-third {
  padding-right: 30px;
}

.photo-third {
  height: 100%;
  padding: 0;
  margin: 0;
}

.margin-top {
  margin-top: 50px;
}

.photo-third-lower {
  height: 100%;
}

.settings-title-third {
  text-align: center;
  padding-bottom: 80px;
  padding-top: 89px;
}

.padding-text-third {
  padding-left: 60px;
  padding-right: 60px;
  text-align: justify;
  color: #848789;
}





.last-section {
  background-color: #f7f7f7;
  z-index: 2;
}

.photo-last-section-left {
  z-index: 2;
  padding: 0 !important;
  width: 100%;
}

.photo-last-section-right{
  z-index: 2;
  padding: 0 !important;
  width: 100%;
}

.photo-last-section-lower {
  width: 100%;
  padding-left: 0 !important;
  padding-right: 0 !important;
}

.settings-title-last {
  text-align: center;
  position: relative;
  background-color: #fff;
  padding: 47px 0 0 0 !important;
}

.padding-text-last {
  padding-left: 60px;
  padding-right: 60px;
  text-align: justify;
  color: #848789;
}

.line-lower {
  margin-top: 40px;
  margin-bottom: 50px;
  margin-left: 42%;
  margin-right: 46%;
  border-bottom: 1px solid #d7d7d7;
}

.box-lower {
  border: 10px solid transparent;
  width: 0;
  height: 0;
  border-top-color: #fff;
  border-top-width: 10px;
  margin-left: 46%;
  position: absolute;
}

.my-carousel {
  text-align: center;
  background-color: #f7f7f7;
  padding-bottom: 30px;
  color: #848789;
  z-index: 2;
}

.twiter {
  padding-top: 100px;
  padding-bottom: 20px;
}

.twiter-text {
  color: #a7a9aa;

}

.margin-bottom {
  margin-bottom: 50px;
}

.grup-photo {
  padding: 0 !important;
  background-color: #282f35;
  z-index: 2;
}

.photo-grup-right,
.photo-grup-left {
  width: 100%;
}


footer {
  position: relative;
  background-color: #fff;
}

.discover {
  background-color: #282f35;
  text-align: center;
  z-index: 2;
}

.photo-lower-section{
  z-index: 2;
  background: #ffffff;
}

.my-btn {
  background-color: #282f35;
  text-transform: uppercase;
  padding: 20px 55px;
  font-size: 14px;
  color: #fff;
  border: 1px solid #94979a;
  margin: 75px 0 75px 0;
}

.my-btn:hover {
  color: #d4d4d4;
  border: 1px solid #989898;
  background-color: #373c42;
}

.my-btn:focus {
  color: #d4d4d4;
  border: 1px solid #989898;
  background-color: #373c42;
}

.padding-logo-right-lower {
  padding-right: 50px;
}

.text-align {
  text-align: center;
}

.padding-logo-lower {
  padding: 100px 0 40px 15px;
}

.input-style {
  padding-left: 25px;
  padding-right: 25px;
  margin-bottom: 110px;
  margin-top: 40px;
  width: 400px;
  height: 60px;
  border: 1px solid #d3d7d9;

}

.input-section {
  padding-top: 40px;
  z-index: 2;
  background: #ffffff;
}

.border {
  border: 1px solid #9f9f9f;
  border-radius: 2px;
}

.btn-input {
  background-color: #64c29e;
  color: #ffffff;
  height: 60px;
  width: 120px;
}

.btn-input:focus {
  background-color: #81f5c8;
  border: 1px solid #cecece;
  color: #a6a6a6;
}

.btn-input:hover {
  background-color: #81f5c8;
  border: 1px solid #cecece;
  color: #9f9f9f;
}

.text-info-lower {
  text-align: left;
}

.yebo {
  padding-top: 100px;
  padding-bottom: 100px;
  background-color: #f7f7f7;
  color: #848789;
  z-index: 2;
  text-align: center;
}

.photo-contact {
  padding-left: 15px;
  padding-top: 20px;
}

.div-yebo {
  padding-top: 20px;
}

.text-align-left {
  text-align: left;
}

.z-index {
  z-index: 3;
}


.sidsFirst {
  width:100%;
  overflow: hidden;
  position: relative;
}

.bikeBack {
  height: 100%;
  overflow: hidden;
  position: relative;
}

.room {
  width: 100%;
  overflow: hidden;
  position: relative;
}

.sidsPro {
  overflow: hidden;
  position: relative;
}

.theBigestSids {
  position: absolute !important;
  margin-top: 267px;
  overflow: hidden;
}

.hover {
  width: 100%;
  height: 100%;
}

.basic-fond-effect {
  position: relative;
}

.padding-top-hover {
  padding-top: 25%;
}

.basic-fond-hover {
  font-size: 22px;
  position: absolute;
  left: 0;
  width: 100%;
  height: 100%;
  background: #373737;
  color: white;
  text-align: center;
  transform: rotateY(90deg);
  opacity: 0;
  transition: .5s;
}

.basic-fond-effect:hover .basic-fond-hover{
  opacity: .5;
  transform: rotateY(0deg);
}


.fond-text-2 {
  text-align: center;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  opacity: 0;
  transition: all .5s;
  transform: scale(0);
  color: #fff;
  padding-top: 100%;
  background-color: rgba(91, 91, 91, 0.5);
}

.fond-text {
  text-align: center;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  opacity: 0;
  transition: all .5s;
  transform: scale(0);
  color: #fff;
  padding-top: 50%;
  background-color: rgba(0,0,0,.5);
}


.fond {
  text-align: center;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  opacity: 0;
  transition: all .5s;
}

.fond-hover:hover .fond {
  opacity: .7;
}

.fond-hover:hover .fond-text {
  opacity: .7;
  transform: scale(1);
}

.fond-hover:hover .fond-text-2 {
  opacity: .7;
  transform: scale(1);
}