@media screen and (max-width: 1355px){
  .photo-last-section-lower {
    display: none;
  }

  .last-section {
    background-color: #ffffff;
  }

}





@media screen and (max-width: 1292px) {

  .photo-third-lower {
    display: none;
  }

  .photo-second {
    display: none;
  }

  .settings-title-second {
    padding-top: 150px;
  }

  .settings-title-third {
    padding-top: 0;
  }

  .text-third-lower {
    padding-top: 150px;
  }

  .line {
    display: none;
  }

  .line-lower {
    display: none;
  }

  .photo-last-section-lower {
    display: none;
  }

}


@media screen  and  (max-width: 993px){

  .basic-fond-hover {
   display: none;
  }

  .fond-text {
    display: none;
  }

  .fond-hover:hover .fond {
    display: none;
  }

  .fond-hover:hover .fond-text {
    display: none;
  }

  .fond-hover:hover .fond-text-2 {
    display: none;
  }
}

@media screen and (min-width: 800px) and (max-width: 991px) {
  .padding-photo-group {
    padding: 40px 20px 15px 20px;
  }
}


@media screen and (max-width: 991px){
  .photo-first {
    width: 100%;
    height: auto;
    padding: 0 !important;
    margin: 0;
    z-index: 3;
    position: relative;
  }

  .photo-second {
    height: auto;
    width: 100%;
    padding: 0;
    z-index: 3;
    position: relative;
  }

  .photo-third {
    width: 100%;
    height: auto;
    padding: 0;
    margin: 0;
    z-index: 3;
    position: relative;
  }

  .photo-third-lower {
    width: 100%;
    height: auto;
    padding: 0 ;
    z-index: 3;
    position: relative;
  }

  .settings-title-third {
    padding-bottom: 140px;
    padding-top: 100px;
  }

  .settings-title-third {
    padding-bottom: 140px;
    padding-top: 100px;
  }

  .settings-title-second {
    padding-bottom: 140px;
    padding-top: 100px;
  }

  .settings-title-last {
    padding-top: 100px;
    background-color: #f7f7f7;
  }

  .padding-text-last {
    padding-bottom: 140px;
  }

  .text-third-lower {
    z-index: 2;
    padding: 0;
  }

  .text-second {
z-index: 2;
    background-color: #f7f7f7;
  }

  .text-third {
    z-index: 2;
    background-color: #f7f7f7;
  }

  .text-third-lower {
    z-index: 2;
    background-color: #f7f7f7;
  }

  .center-thumbnail {
    padding-top: 20%;
  }

  .left-lower-thumbnail {
    padding-top: 20%;
  }

  .right-lover-thumbnail {
    padding-top: 10%;
  }

  .center-lower-thumbnail {
    padding: 0;
  }
}




@media screen and (max-width: 800px){

  .display-none {
  display: inline-block !important;
}

  .top-section {
    visibility: hidden;
  }

  .ul-menu {
    width: 100%;
  }

  .sandwich {
    margin: 0;
    position: fixed !important;
  }

  .touch-menu {
    display: inline-block !important;
    padding: 20px 0 20px 0;
  }

  .menu-item {
    padding-left: 5%;
  }

}
@media screen and (max-width: 790px){

  .photo-contact {
    padding: 40px 2px;
  }

}
@media screen and (max-width: 768px){

  .left-lower-thumbnail {
    padding-top: 0;
  }


  .text-info-lower {
    text-align: center;
  }

  .padding-top {
  padding-top: 50px;
  }

  .center-thumbnail,
  .side-thumbnail {
    padding: 0;
  }

  .text-align-left {
    text-align: center;
  }

  .developer-box-center {
    margin-top: 0 !important;
    position: static !important;
  }

  .after-table-center {
    margin: 20px 0 ;
  }
}


@media screen and (max-width: 650px){
  .section-table {
    font-size: 7px;
  }
}

@media screen and (max-width: 556px){
 .input-style {
   width: 40%;
 }
}

@media screen and (max-width: 504px) {
  .form-btn button {
    margin-bottom: 10px;
  }
}

@media screen  and (max-width: 400px){
  .input-style {
    width: 70%;
    height: 30px;

  }

  .btn-input{
    height: 30px;
    width: 60px;
  }
}