.sandwich {
  display: none;
}

.top-section {
  text-align: center;
}

.menu-section {
  width: 100%;
  position: fixed;
  padding-top: 30px;
  padding-left: 50px;
}

.menu {
  margin: 0;
  padding: 0;
  list-style: none;
  font-size: 0;
}

.menu:after {
  display: block;
  content: "";
  width: 100%;
  font-size: 0;
  height: 0;
}

.menu-item {
  display: inline-block;
  font-size: 13px;
}

.full-stop {
  padding-left: 40px;
  padding-right: 40px;
}

.menu-link {
  padding-top: 30px;
  text-decoration: none;
  color: #4d4959;
  display: inline-block;
  text-transform: uppercase;
  font-family: Lato, sans-serif;
  font-weight: bold;
}

.menu-link:active {
  color: #aba0bd;
  text-decoration: none;
}

.menu-link:hover {
  color: #817892;
  text-decoration: none;
}

.menu-link:focus {
  color: #ae9fc3;
  text-decoration: none;
}


#menu, .sub-menu {
  display: none;
  list-style: none;
}

/*Change toggle size by adjusting width & height*/
.tb-menu-toggle {
  border: 0;
  position: relative;
  background: transparent;
  cursor: pointer;
}

/*Change toggle color here*/
.tb-menu-toggle i {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 20%;
  -webkit-transition:all .2s;
  -moz-transition:all .2s;
  -o-transition:all .2s;
  transition:all .2s;
}
.tb-menu-toggle i:nth-child(2) {
  top: 40%;
}
.tb-menu-toggle i:nth-child(3) {
  top: 80%;
}

/* Style the active toggle here */
.tb-menu-toggle.tb-active-toggle i {  }

/*Animation of the toggle*/
.tb-menu-toggle.tb-animate-toggle i:first-child,
.tb-menu-toggle.tb-animate-toggle i:nth-child(2){
  top: 40%;
  -webkit-transform:rotate(45deg);
  -moz-transform:rotate(45deg);
  -ms-transform:rotate(45deg);
  -o-transform:rotate(45deg);
  transform:rotate(45deg);
}
.tb-menu-toggle.tb-animate-toggle i:nth-child(3){
  top: 40%;
  -webkit-transform:rotate(-45deg);
  -moz-transform:rotate(-45deg);
  -ms-transform:rotate(-45deg);
  -o-transform:rotate(-45deg);
  transform:rotate(-45deg);
}