
.top-section {
  text-align: center;
}

.menu-section {
  width: 100%;
  position: fixed;
  padding-top: 30px;
  padding-left: 50px;
}

.menu {
  margin: 0;
  padding: 0;
  list-style: none;
  font-size: 0;
}

.menu:after {
  display: block;
  content: "";
  width: 100%;
  font-size: 0;
  height: 0;
}

.menu-item {
  display: inline-block;
  font-size: 13px;
}

.full-stop {
  padding-left: 40px;
  padding-right: 40px;
}

.menu-link {
  padding-top: 30px;
  text-decoration: none;
  color: #4d4959;
  display: inline-block;
  text-transform: uppercase;
  font-family: Lato, sans-serif;
  font-weight: bold;
}

.menu-link:active {
  color: #aba0bd;
  text-decoration: none;
}

.menu-link:hover {
  color: #817892;
  text-decoration: none;
}

.menu-link:focus {
  color: #ae9fc3;
  text-decoration: none;
}

.touch-menu {
  padding-left: 30px;
  position: fixed;
  display: none;
}

.margin-left {
  margin-left: -100%;
  transition: .5s;
}

.margin-left-none {
  margin-left: 0 !important;
}

.after-table {
  color: #3f3f3f;
}

.ul-menu {
  position: fixed;
  padding-top: 50px;
}