* {
  transition: .1s;
}


.top-text-login-section {
  padding: 50px 0;
  background: linear-gradient(to bottom, #f7f7f7 50%, #a0b8c4);
}

.top-text-login {
  text-align: center;
  color: #698598;
}

.text-login {
  font-size: 18px;
}

.settings-text-login {
  font-size: 14px !important;
  text-align: justify !important;
}

.login-section {
  height: 400px;
}

.registration-section {
  height: 600px;
  margin-top: -100px;
}


.after-registration {
  padding: 50px 0;
  background: linear-gradient(to bottom, #a0b8c4 50%, #f7f7f7 );
}

.bg-color {
  background-color: #f7f7f7;
}

.center-lower-thumbnail {
  padding-top: 5%;
}