<!-- @@block= contact -->
<nav id="menu">
    <ul class="ul-menu">

        <li class="menu-item">

            <a href="about_us.html" class="menu-link"> abuot us</a>

        </li>

        <li class="menu-item">

            <a href="work.html" class="menu-link">work</a>

        </li>

        <li class="menu-item">

            <a href="#" class="menu-link">shop</a>

        </li>

        <li class="menu-item">

            <a href="contact.html" class="menu-link">contact</a>

        </li>

    </ul>
</nav>

<div id="panel">
    <button class="toggle-button settings-button-toggle">☰</button>


<header>

    <div class="container-fluid">

        <div class="top-section row">

            <section class="menu-section row">

                <ul class="menu col-xs-5 col-lg-5 col-lg-push-1">

                    <li class="menu-item">
                        <a href="about_us.html" class="menu-link"> abuot us</a>
                    </li>

                    <li class="menu-item">
                        <a href="#" class="menu-link full-stop">.</a>
                    </li>

                    <li class="menu-item">
                        <a href="work.html" class="menu-link">work</a>
                    </li>

                </ul>


                <div class="col-xs-2 col-lg-2">
                    <img src="photo/logo.png" style="max-height: 85px; max-width: 95px">
                </div>

                <ul class="menu col-xs-5 col-lg-5 col-lg-pull-1">

                    <li class="menu-item">
                        <a href="#" class="menu-link">shop</a>
                    </li>

                    <li class="menu-item">
                        <a href="#" class="menu-link full-stop">.</a>
                    </li>

                    <li class="menu-item">
                        <a href="contact.html" class="menu-link">contact</a>
                    </li>

                </ul>

            </section>

        </div>

    </div>

    <img src="photo/top.gif" style="width: 100%">

</header>

<main>

    <div class="container-fluid">

        <div class="row">

            <section class="section-table">

                <div class="z-index container-fluid table-setting">

                    <div class="row">

                        <table id="table" class="col-xs-8 text-align padding-none hover display responsive" border="2">

                            <thead id="data">

                            <tr class="tr font-normal">

                                <th>Name</th>

                                <th>Email</th>

                                <th>Phone</th>

                                <th>City</th>

                                <th>Info</th>

                            </tr>

                            </thead>
                            <tbody class="table">

                            </tbody>

                        </table>

                    </div>

                </div>

            </section>

            <section class="z-index developer-section">

                <div class="container-fluid">

                    <div class="row">

                        <div class="col-xs-12 text-align"><h2 class="font-bold title-developer">TEAM</h2></div>

                        <div class="col-xs-12 col-sm-4 ">

                            <div class="developer-box">

                                <img class=" photo-developer" src="photo/manLeft.gif">
                                <h2 class="font-bold">Lorem ipsum dolor.</h2>
                                <div class="text-developer font-normal">
                                    Lorem ipsum dolor sit amet, consectetur
                                    adipisicing elit. Fugit, sint.
                                    Lorem ipsum dolor sit amet, consectetur
                                    lis fuga libero odio omnis quo sint.
                                </div>

                                <button class="btn-input-dev border font-normal">Sine</button>

                            </div>

                        </div>

                        <div class="col-xs-12 col-sm-4 ">

                            <div class="developer-box-center">

                                <img class="photo-developer" src="photo/manCenter.gif">
                                <h2 class="font-bold">Lorem ipsum dolor.</h2>
                                <div class="text-developer font-normal">
                                    Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                                    Architecto cum debitis, eum nemo provident vitae!
                                    Lorem ipsum dolor sit amet, consectetur
                                    lis fuga libero odio omnis quo sint.
                                </div>

                                <button class="btn-input-dev border font-normal">Sine</button>

                            </div>

                        </div>

                        <div class="col-xs-12 col-sm-4 ">

                            <div class="developer-box">

                                <img class="photo-developer" src="photo/manRight.gif">
                                <h2 class="font-bold">Lorem ipsum dolor.</h2>
                                <div class="text-developer">
                                    Lorem ipsum dolor sit amet, consectetur Lorem ipsum
                                    dolor sit amet, consectetur adipisicing elit.
                                    Amet dolorum nesciunt odio pariatur quo!
                                    lis fuga libero odio omnis quo sint.
                                </div>

                                <button class="btn-input-dev border font-normal">Sine</button>


                            </div>

                        </div>


                    </div>

                </div>

            </section>

            <section class="z-index after-table">

                <div class="container-fluid">

                    <div class="row">


                        <div class="col-xs-12 col-sm-4 text-align">
                            <img src="photo/card.gif" class="photo-after-table font-normal">
                            <h2 class="font-bold">Lorem ipsum dolor.</h2>
                            <div class="text-after-table">
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                                Est, voluptatibus?
                                Lorem ipsum dolor <em>sit amet, consectetur</em>
                                adipisicing elit. Deleniti dolores doloribus,
                                ducimus eaque facilis fuga libero odio omnis quo sint.
                            </div>
                        </div>

                        <div class="col-xs-12 col-sm-4 after-table-center text-align padding-top">
                            <img src="photo/idea.gif" class="photo-after-table font-normal">
                            <h2 class="font-bold">Lorem ipsum.</h2>
                            <div class="text-after-table">
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                                Lorem ipsum dolor sit amet.
                                Lorem ipsum dolor sit amet,
                                <em>consectetur adipisicing elit. Dignissimos hic</em>
                                quibusdam quos voluptas. Ab accusamus dignissimos enim exercitationem
                                ipsa maiores natus odio quo quos, sit.
                            </div>
                        </div>

                        <div class="col-xs-12 col-sm-4 text-align padding-top">
                            <img src="photo/plane.gif" class="photo-after-table font-normal">
                            <h2 class="font-bold">Lorem ipsum dolor sit.</h2>
                            <div class="text-after-table">
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                                A blanditiis dicta ea eius eligendi
                                <em>expedita in laborum </em>quas qui reprehenderit!
                                Lorem ipsum dolor sit amet,
                                consectetur adipisicing elit.
                                Atque, necessitatibus?
                            </div>
                        </div>


                    </div>

                </div>

            </section>


        </div>

    </div>

</main>

<footer>
    <div class="container-fluid">

        <div class="row">

            <section class="z-index yebo col-xs-12">

                <div class="container-fluid">

                    <div class="row">

                        <div class="col-xs-12 col-sm-3 col-lg-3 col-sm-push-1">
                            <div class="text-info-lower font-normal">
                                <strong> AOD New York</strong>
                                <br>
                                2250 Lexington Avenue
                                <br>
                                New York,NY 10035 -info@domain.com
                            </div>
                        </div>

                        <div class="text-align-left col-xs-12 col-sm-3 col-lg-3 col-sm-push-2">

                            <div>

                                <a href="#" class="link-mini-photo">
                                    <img src="photo/twiterLower.gif" class="photo-contact">
                                </a>

                                <a href="#" class="link-mini-photo">
                                    <img src="photo/facebook.gif" class="photo-contact">
                                </a>

                                <a href="#" class="link-mini-photo">
                                    <img src="photo/pinter.gif" class="photo-contact">
                                </a>
                            </div>

                        </div>

                        <div class="col-xs-12 col-sm-2 col-lg-2 col-sm-push-3">

                            <div class="div-yebo font-normal">

                                Handcrafted by <a href="#" class="link-mini-photo"><img src="photo/yebo.gif"></a>

                            </div>

                        </div>

                    </div>

                </div>

            </section>

        </div>

    </div>
</footer>

</div>
<!-- @@close -->