<!-- @@block= work -->
<nav id="menu" class="slideout-menu slideout-menu-left">
    <ul class="ul-menu">

        <li class="menu-item">

            <a href="about_us.html" class="menu-link"> abuot us</a>

        </li>

        <li class="menu-item">

            <a href="work.html" class="menu-link">work</a>

        </li>

        <li class="menu-item">

            <a href="#" class="menu-link">shop</a>

        </li>

        <li class="menu-item">

            <a href="contact.html" class="menu-link">contact</a>

        </li>

    </ul>
</nav>

<main id="panel" class="display-none ">
    <header>
        <button class="toggle-button">☰</button>
    </header>
</main>


<header>

    <div class="container-fluid">

        <div class="top-section row">

            <section class="menu-section row">

                <ul class="menu col-xs-5 col-lg-5 col-lg-push-1">

                    <li class="menu-item">
                        <a href="about_us.html" class="menu-link"> abuot us</a>
                    </li>

                    <li class="menu-item">
                        <a href="#" class="menu-link full-stop">.</a>
                    </li>

                    <li class="menu-item">
                        <a href="work.html" class="menu-link">work</a>
                    </li>

                </ul>


                <div class="col-xs-2 col-lg-2">
                    <img src="photo/logo.png" style="max-height: 85px; max-width: 95px">
                </div>

                <ul class="menu col-xs-5 col-lg-5 col-lg-pull-1">

                    <li class="menu-item">
                        <a href="#" class="menu-link">shop</a>
                    </li>

                    <li class="menu-item">
                        <a href="#" class="menu-link full-stop">.</a>
                    </li>

                    <li class="menu-item">
                        <a href="contact.html" class="menu-link">contact</a>
                    </li>

                </ul>

            </section>

        </div>

    </div>

    <img src="photo/top.gif" style="width: 100%">

</header>

<main>

    <div class="container-fluid">

        <div class="row">

            <section class="z-index top-text-login-section col-xs-12">

                <div class="container-fluid">

                    <div class="row">

                        <div class="top-text-login col-xs-12 col-sm-12 col-md-2 col-lg-2 col-md-push-1 col-lg-push-1">

                            <img class="img-login" src="photo/computer.gif">

                            <div class="text-login font-normal">

                                <h3><strong>WEB</strong></h3>
                                <span class="settings-text-login">
                                Lorem ipsum dolor sit amet.
                                Lorem ipsum dolor sit amet, consectetur
                                adipisicing elit. Esse, nesciunt?
                                </span>

                            </div>

                        </div>

                        <div class="top-text-login col-xs-12 col-sm-12 col-md-2 col-lg-2 col-md-push-3 col-lg-push-3">

                            <img class="img-login" src="photo/basket.gif">

                            <div class="text-login font-normal">

                                <h3><strong>ONLINE SHOP</strong></h3>
                                <span class="settings-text-login">
                                Lorem ipsum dolor sit amet,
                                consectetur adipisicing elit.
                                Ad dolores enim eveniet impedit libero maiores
                                minima nisi sint, sit voluptas!
                                </span>

                            </div>

                        </div>

                        <div class="top-text-login col-xs-12 col-sm-12 col-md-2 col-lg-2 col-md-push-5 col-lg-push-5">

                            <img class="img-login" src="photo/like.gif">

                            <div class="text-login font-normal">

                                <h3><strong>LIKE</strong></h3>
                                <span class="settings-text-login">
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                                Aliquid excepturi ipsam nesciunt pariatur qui tempore!
                                </span>

                            </div>

                        </div>


                    </div>

                </div>

            </section>

            <section id="login" class="z-index login-section col-xs-12">

                            <div class="wrapper">
                                <div class="container">
                                    <h1>Welcome</h1>
                                    <form class="form" id="validationForm" name="validateForm">

                                        <input type="text" name="name" class="form-control" placeholder="Name">

                                        <input type="password" class="form-control" name="password" placeholder="Password">

                                        <div class="form-btn">
                                            <button type="submit" id="login-button">Login</button>
                                            <button type="button" id="registration" class="show-registration-btn">Sign up</button>
                                        </div>

                                    </form>

                                </div>

                                <ul class="bg-bubbles">
                                    <li></li>
                                    <li></li>
                                    <li></li>
                                    <li></li>
                                    <li></li>
                                    <li></li>
                                    <li></li>
                                    <li></li>
                                    <li></li>
                                    <li></li>
                                </ul>
                            </div>

            </section>

            <section id="registration-id" class="z-index hide-form registration-section col-xs-12">

                           <div class="wrapper-registration">

                               <div class="container">

                                   <h1>Sign up</h1>

                                   <form class="form" id="formRegistration" name="formRegistration">

                            <input type="text" name="name" class="form-control" placeholder="Name">

                            <input type="email" name="email" class="form-control" placeholder="Email">

                            <input type="password" class="form-control" name="password" placeholder="Password">

                            <input type="password" class="form-control" name="password" placeholder="Password">

                            <div class="form-btn">
                                <button type="submit">Sign up</button>
                                <button type="button" id="backToLogin" class="">Back</button>
                            </div>

                        </form>

                               </div>


                               <ul class="bg-bubbles">
                        <li></li>
                        <li></li>
                        <li></li>
                        <li></li>
                        <li></li>
                        <li></li>
                        <li></li>
                        <li></li>
                        <li></li>
                        <li></li>
                    </ul>

                           </div>

            </section>

            <section class="after-registration z-index col-xs-12">

                <div class="container-fluid">

                    <div class="row">

                        <div class="top-text-login col-xs-12 col-sm-12 col-md-2 col-lg-2 col-md-push-1 col-lg-push-1">

                            <img class="img-login" src="photo/computer.gif">

                            <div class="text-login font-normal">

                                <h3><strong>WEB</strong></h3>
                                <span class="settings-text-login">
                                Lorem ipsum dolor sit amet.
                                Lorem ipsum dolor sit amet, consectetur
                                adipisicing elit. Esse, nesciunt?
                                </span>

                            </div>

                        </div>

                        <div class="top-text-login col-xs-12 col-sm-12 col-md-2 col-lg-2 col-md-push-3 col-lg-push-3">

                            <img class="img-login" src="photo/basket.gif">

                            <div class="text-login font-normal">

                                <h3><strong>ONLINE SHOP</strong></h3>
                                <span class="settings-text-login">
                                Lorem ipsum dolor sit amet,
                                consectetur adipisicing elit.
                                Ad dolores enim eveniet impedit libero maiores
                                minima nisi sint, sit voluptas!
                                </span>

                            </div>

                        </div>

                        <div class="top-text-login col-xs-12 col-sm-12 col-md-2 col-lg-2 col-md-push-5 col-lg-push-5">

                            <img class="img-login" src="photo/like.gif">

                            <div class="text-login font-normal">

                                <h3><strong>LIKE</strong></h3>
                                <span class="settings-text-login">
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                                Aliquid excepturi ipsam nesciunt pariatur qui tempore!
                                </span>

                            </div>

                        </div>

                    </div>

                </div>

            </section>

            <section class="bg-color z-index col-xs-12">

                <div class="container-fluid">

                            <div class="row">

                                <div class="side-thumbnail col-sm-6 col-md-4">
                                    <div class="thumbnail">

                                        <div class="imageBox">
                                            <img src="photo/car.gif" class="gallery-photo">
                                            <div class="textBox">
                                                <h2>Some Text</h2>
                                            </div>
                                        </div>

                                        <div class="caption">
                                            <h3>Thumbnail label</h3>
                                            <p>
                                                Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                                                Hic incidunt mollitia porro! Atque dignissimos ducimus
                                                magni nemo saepe. Earum, nam!
                                            </p>
                                        </div>
                                    </div>
                                </div>

                                <div class="center-thumbnail col-sm-6 col-md-4">
                                <div class="thumbnail">
                                    <img src="photo/field.gif" class="gallery-photo">
                                    <div class="caption">
                                        <h3>Thumbnail label</h3>
                                        <p>
                                            Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                                            Hic incidunt mollitia porro! Atque dignissimos ducimus
                                            magni nemo saepe. Earum, nam!
                                        </p>
                                    </div>
                                </div>
                            </div>

                                <div class="side-thumbnail col-sm-6 col-md-4">
                                    <div class="thumbnail">
                                        <img src="photo/tree.gif" class="gallery-photo">
                                        <div class="caption">
                                            <h3>Thumbnail label</h3>
                                            <p>
                                                Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                                                Hic incidunt mollitia porro! Atque dignissimos ducimus
                                                magni nemo saepe. Earum, nam!
                                            </p>
                                        </div>
                                    </div>
                                </div>

                            </div>


                    <div class="row">

                        <div class="left-lower-thumbnail col-sm-6 col-md-4">
                            <div class="thumbnail">
                                <img src="photo/tea.gif" class="gallery-photo">
                                <div class="caption">
                                    <h3>Thumbnail label</h3>
                                    <p>
                                        Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                                        Hic incidunt mollitia porro! Atque dignissimos ducimus
                                        magni nemo saepe. Earum, nam!
                                    </p>
                                </div>
                            </div>
                        </div>

                        <div class="center-lower-thumbnail col-sm-6 col-md-4">
                            <div class="thumbnail">
                                <img src="photo/fieldLower.gif" class="gallery-photo">
                                <div class="caption">
                                    <h3>Thumbnail label</h3>
                                    <p>
                                        Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                                        Hic incidunt mollitia porro! Atque dignissimos ducimus
                                        magni nemo saepe. Earum, nam!
                                    </p>
                                </div>
                            </div>
                        </div>

                        <div class="right-lover-thumbnail col-sm-6 col-md-4">
                            <div class="thumbnail">
                                <img src="photo/raspberry.gif" class="gallery-photo">
                                <div class="caption">
                                    <h3>Thumbnail label</h3>
                                    <p>
                                        Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                                        Hic incidunt mollitia porro! Atque dignissimos ducimus
                                        magni nemo saepe. Earum, nam!
                                    </p>
                                </div>
                            </div>
                        </div>

                    </div>

                    </div>

            </section>


        </div>

        </div>

</main>

<footer>
    <div class="container-fluid">

        <div class="row">

            <section class="yebo z-index col-xs-12">

                <div class="container-fluid">

                    <div class="row">

                        <div class="col-xs-12 col-sm-3 col-lg-3 col-sm-push-1">
                            <div class="text-info-lower font-normal">
                                <strong> AOD New York</strong>
                                <br>
                                2250 Lexington Avenue
                                <br>
                                New York,NY 10035 -info@domain.com
                            </div>
                        </div>

                        <div class="text-align-left col-xs-12 col-sm-3 col-lg-3 col-sm-push-2">

                            <div>
                                <img src="photo/twiterLower.gif" class="photo-contact">

                                <img src="photo/facebook.gif" class="photo-contact">

                                <img src="photo/pinter.gif" class="photo-contact">
                            </div>

                        </div>

                        <div class="col-xs-12 col-sm-2 col-lg-2 col-sm-push-3">

                            <div class="div-yebo font-normal">

                                Handcrafted by <img src="photo/yebo.gif">

                            </div>

                        </div>

                    </div>

                </div>

            </section>

        </div>

    </div>
</footer>
<!-- @@close -->